// textColors

$v-colorTextBasic: #717171;
$v-colorTextSecondary: #919191;
$v-colorTextGreen: #3C7649;
$v-colorTextBlue: #3684CB;
$v-colorTextRed: #DD4B4B;

// backgroundColors

$v-colorGrayPrimary: #EEEEEE;
$v-colorGraySecondary: #F6F6F6;
$v-colorGraytertiary: #F4F4F4;
$v-colorWhite: #FFFFFF;
$v-colorGray: #CCCCCC;
$v-colorhover: #f9f4f4;
