<div class="variation d-flex">
  <div class="variation__percentage d-flex justify-content--center align-items--center">
    <div class="font-weight--600 font-size--sm  text-color--secondary m-b">Variação (%)</div>
    <div class="font-weight--600 font-size--md text-color--basic">{{percentageValue}}</div>
  </div>
  <div class="variation__date d-flex justify-content--center align-items--center">
    <div class="font-weight--600 font-size--sm  text-color--secondary m-b">Atualizado</div>
    <div class="font-weight--600 font-size--md text-color--basic">{{timer | date: 'h:mm:ss'}}</div>
  </div>
</div>
