.home {
  gap: 80px;

  @media (max-width: 1024px) {
    gap: 37px;
    flex-wrap: wrap;
  }
}

.card {

  &__body {
    min-width: 19.75rem;
  }

  &__value {
    height: 12.46875rem;
  }

}

app-card {
  flex: 1;
  max-width: 26.875rem;
}

.loading, .errorFeedack {
  height: 19.0625rem;
}
