/* You can add global styles to this file, and also import other style files */
@import './app/styles/reset.scss';
@import './app/styles/colors.scss';

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: $v-colorGrayPrimary;
}

.container {
  padding: 0 65px;
  max-width: 1920px;
  margin: 0 auto;
}

.bg-color {

  &--white {
    background-color: $v-colorWhite;
  }

  &--grayPrimary {
    background-color: $v-colorGrayPrimary;
  }

  &--graySecondary {
    background-color: $v-colorGraySecondary;
  }

  &--graytertiary {
    background-color: $v-colorGraytertiary;
  }

}

.text-color {

  &--basic {
    color: $v-colorTextBasic;
  }

  &--secondary {
    color: $v-colorTextSecondary;
  }

  &--green {
    color: $v-colorTextGreen;
  }

  &--blue {
    color: $v-colorTextBlue;
  }

  &--red {
    color: $v-colorTextRed;
  }

}

.text {
  &--center {
    text-align: center;
  }
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content {

  &--start {
    justify-content: start;
  }

  &--end {
    justify-content: end;
  }

  &--center {
    justify-content: center;
  }

  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }
}

.align-items {
  &--center {
    align-items: center;
  }
}

.font-size {

  &--sm {
    font-size: 1.125rem;
  }

  &--md {
    font-size: 1.5rem;
  }

  &--lg {
    font-size: 1.875rem;
  }

  &--xl {
    font-size: 4rem;
  }

}

.font-weight {

  &--700 {
    font-weight: 700;
  }

  &--600 {
    font-weight: 600;
  }

  &--500 {
    font-weight: 500;
  }

  &--400 {
    font-weight: 400;
  }

}

.btn {
  color: #717171;
  width: 100%;
  max-width: 173px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4F4;
  padding: 18px 28px;
  border-color: transparent;
  font-weight: 600;
  transition: color .15s ease-in-out;

  &:hover {
    background-color: #f9f4f4;
  }
}
